@model Avaliacao.Data.Models.Parameter

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Parameter</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FixedSalary" class="control-label"></label>
                <input asp-for="FixedSalary" class="form-control" />
                <span asp-validation-for="FixedSalary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FixedCommission" class="control-label"></label>
                <input asp-for="FixedCommission" class="form-control" />
                <span asp-validation-for="FixedCommission" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BaseRate" class="control-label"></label>
                <input asp-for="BaseRate" class="form-control" />
                <span asp-validation-for="BaseRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SecondRate" class="control-label"></label>
                <input asp-for="SecondRate" class="form-control" />
                <span asp-validation-for="SecondRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
