@model IEnumerable<Avaliacao.Data.Models.Parameter>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr class="bg-primary text-white text-center">
            <th>
                <text>Parâmetro</text>
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <text>Atual</text>
            </td>
           
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-warning">Editar</a>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info">Mostrar</a>
                
            </td>
        </tr>
}
    </tbody>
</table>
