@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="text-primary text-center">Avaliação .Net DCL Sistemas</h1>
    <br />
</div>

<div class="row">

    <div class="col-md-4" align="center">

        <h2 class="text-primary text-center" >Venta de carros</h2>
        <a href='@Url.Action("Index", "CarSales")'>
            <img src="~/Images/car.png" width="200" height="200" alt="cars" />
        </a>
        <p class="font-italic">Controle de salario do funcionario.</p>
        <p></p>

    </div>

    <div class="col-md-4" align="center">

        <h2 class="text-primary text-center" >Ligações</h2>
        <a href='@Url.Action("Index", "Calls")'>
            <img src="~/Images/call.png" width="200" height="200" alt="calls"/>
        </a>
        <p class="font-italic">Controle de minutos/segundos das ligações.</p>
        <p></p>

    </div>

    <div class="col-md-4" align="center">

        <h2 class="text-primary text-center">Parâmetros</h2>
        <a href='@Url.Action("Index", "Parameters")'>
            <img src="~/Images/parameter.png" width="200" height="200" alt="parametres" />
        </a>
        <p class="font-italic">Parãmetros gerais.</p>
        <p></p>

    </div>
</div>